{% extends "list/base.html" %} {% load static %} {% block content %}
<style>
    #divPrincipal {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
</style>

<div id="divPrincipal">
    <h1>Apple store</h1>
    <img src="{% static 'listApp/apple.png' %}" alt="Kitten picture" width="15%">
    <p>List of favourite products: </p>
    {% for product in products %}
    <a href="{{product.get_absolute_url}}"><h4>{{product.name}}</h4></a>
    <img src="{{product.picture.url}}" alt="Product picture" width="150em">
    <br>
    {% endfor %}
</div>
{% endblock %}